@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
   font-family: "Roboto";
   display: flex;
   flex-direction: column;
   background-color: gray;
   margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    color: inherit;
}

.header {
    display: flex;
    flex: 1;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 30px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
    margin-left: 200px;
}

.links {
    font-size: 18px;
    color: #E5E7EB;
    margin-right: 200px;
    display: flex;
    gap: 30px;
}

.hero {
    background-color: #1F2937;
    display: flex;
    padding: 120px;
    gap: 70px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 15%;
    gap: 12px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-image {
    display: flex;
    color: #E5E7EB;
    flex: 1;
    margin-right: 15%;
    background-color: gray;
    justify-content: center;
    align-items: center;
}

.sign-up-button {
    text-align: center;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 10px;
    padding: 12px;
    width: 20%;
}

.information {
    background-color: #F9FAF8;
    padding: 50px;
}

.information-header {
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
    text-align: center;
}

.information-blocks {
    display: flex;
    justify-content: center;
    padding: 50px;
    gap: 30px;
}

.information-block {
    max-width:12%
}

.information-image {
    margin: auto;
    width: 90%;
    aspect-ratio: 1;
    border-style: solid;
    border-color: blue;
    border-width: 3px;
    border-radius: 10px;
}

.information-subtext {
    margin-top: 10px;
    text-align: center;
}

.quote {
    background-color: #E5E7EB;
    padding: 150px 28%;
}

.quote-text {
    color: #1F2937;
    font-size: 36px;
    font-weight: 100;
    font-style: italic
}

.quote-author {
    font-size: 20px;
    text-align: right;
    font-weight: bold;
}

.call-to-action {
    background-color: #F9FAF8;
    padding: 100px;
}

.sign-up-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    background-color: #3882F6;
    width: 60%;
    padding: 40px 90px;
    border-radius: 7px;
}

.sign-up-text {
    display: flex;
    flex-direction: column;
    color:#F9FAF8;
}

.sign-up-text-header {
    font-weight: bold;
    font-size: 20px;
}

.sign-up-text-subtext {
    font-weight: 100;
    font-size: 17px;
}

.call-to-action-button {
    border-style: solid;
    border-color: #F9FAF8;
    border-radius: 10px;
    color:#F9FAF8;
    padding: 5px 35px;
}

.footer {
    text-align: center;
    color:#F9FAF8;
    background-color: #1F2937;
    padding: 30px;
}